<div class="row">
  <div class="col s12">
    <h3 class="center-align">Edit Student</h3>
  </div>
  
  <div class="col s12">
    <%= render 'share/errors', obj: @user %>
  </div>
  
  <div class="col s12">
    
    <%= form_with model: @user, local: true, method: "put" do |f| %>    
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name %>
          <%= label_tag(:name) %>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <%= f.email_field :email %>
          <%= label_tag(:email) %>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <%= submit_tag("Update", class: "waves-effect waves-light btn") %>
        </div>
      </div>     
    <% end %> 
  
  </div>  
</div>
