<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Title</title>
  <meta name="description" content="a page">
  <meta name="author" content="ali">

  <link rel="stylesheet" href="#">

</head>
<body>

<h1>New Article</h1>

<%# render 'form', article: @article %>


<%= form_with scope: :article, url: articles_path, local: true do |f| %>
  <p> 
    <%= f.label :title %><br/> 
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br/> 
    <%= f.text_area :description %> 
  </p>
  <p>
    <%= f.submit %> 
  </p>
<% end %>


<%= link_to 'Back', articles_path %>


  <script src="#"></script>
</body>
</html>
