<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Title</title>
  <meta name="description" content="a page">
  <meta name="author" content="ali">

  <link rel="stylesheet" href="#">

</head>
<body>

<h1>Article detail.</h1>


<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>


  <script src="#"></script>
</body>
</html>
